header, .container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

body {
    background-color: #dcc0a3;
    color: #44545e;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.main-header {
    flex: 4;
    font-weight: bold;
    font-size: x-large;
}

.header-links {
    display: flex;
    gap: 40px;
    font-size: large;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.5s;
}

a:link, a:visited {
    color: #44545e;

}

a:hover, a:active {
    color: #11232c;
    background-color: #44545e;
    padding: 4px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.sub-container {
    display: flex;
    flex: 1;
}

#hero, #quote {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: #a99783;
    border-radius: 10px;
    padding: 60px;
    flex: 1;
}

#main-owl {
    height: 300px;
    width: auto;
    vertical-align: auto;
    margin: auto;
}

#gallery {
    flex-direction: column;
    text-align: center;
    flex: 1;
}

#gallery figure {
    display: inline-block;
    margin: auto;
}

#sign-up {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 0 auto;
    justify-content: space-between;
}

.action-call {
    flex: 1;
    margin: auto;
}

#sign-up button {
    margin: auto;
    margin-left: 200px;
    background-color: #dcc0a3;
    border: 5px solid #a99783;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

#sign-up button:hover, #sign-up button:focus {
    border: 5px double #11232c;
}

img {
    height: 150px;
    width: auto;
    margin: 10px;
    border: 10px solid #11232c;
    border-radius: 25px;
}

#quote {
    align-items: center;
    display: flex;
    font-size: larger;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 15px;
    background-color: #a99783;
}

